<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdu.develop.user.mapper.ClassMapper">
    <select id="selClassesOfAll" resultType="com.tdu.develop.user.pojo.Classes">
        select Id,ClassName from classes
    </select>
    <select id="selUserClassId" parameterType="String" resultType="String">
    	select class from classusers where user=#{userId}
    </select>
    <select id="selClassUsers" parameterType="String" resultType="String">
    	select user from classusers where class=#{classId}
    </select>

    <select id="seleClassName" resultType="String" parameterType="String">
        select classname from classes <where> id=#{classkey} </where>
    </select>

    <select id="getClassUsersList" parameterType="String" resultMap="classUserslist">
        SELECT * FROM classusers WHERE `User`=#{userKey}
    </select>

    <resultMap type="com.tdu.develop.user.pojo.ClassUsers" id="classUserslist">
        <id column="Id" property="id" />
        <result column="Class" property="classId" />
        <result column="User" property="user" />
    </resultMap>
</mapper>