<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdu.develop.resource.mapper.CommentsMapper">

    <insert id="addComments" parameterType="com.tdu.develop.resource.pojo.Comments">
		INSERT INTO `comments` (
	`Id`,
	`integrity`,
	`standard`,
	`grammar`,
	`fluency`,
	`intonation`,
	`reaction`,
	`overall`,
	`type`,
	`stuKey`,
	`creatData`,
	`nandu`,
	`page`,
	`content`,
	`toUser`
)
VALUES
	(#{id}, #{integrity}, #{standard}, #{grammar}, #{fluency},#{intonation}, #{reaction}, #{overall}, #{type}, #{stuKey},#{creatData},#{nandu},#{page},#{content},#{toUser});
	</insert>

    <select id="getAssessment" parameterType="String" resultType="com.tdu.develop.resource.pojo.Comments">
		SELECT
	*
FROM
	comments
WHERE
	stuKey = #{stuKey}
	AND type = '0'
ORDER BY
	creatData DESC
	limit 1
	</select>

    <select id="getUsersment" parameterType="String" resultType="com.tdu.develop.resource.pojo.Comments">
		SELECT
		*
		FROM
		(SELECT * FROM comments WHERE `nandu` = #{nandu} AND `page` = #{page} AND `type` = #{type} AND `toUser` = #{toUser}) AS b
		WHERE
		NOT EXISTS ( SELECT 1 FROM comments WHERE stuKey = b.stuKey AND b.creatData &lt; `creatData` )
	</select>
</mapper>