<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdu.develop.resource.mapper.ItemMapper">

    <insert id="yuxi" parameterType="com.tdu.develop.resource.pojo.blue">

		replace into blue VALUES (#{userId},#{ti1},#{ti2},#{ti3},#{ti4},#{ti5}
		,#{ti6},#{ti7},#{ti8},#{ti9},#{ti10},#{ti11},#{yuxi},#{caozuo},#{baogao})

    </insert>

    <select id="get" parameterType="String" resultType="com.tdu.develop.resource.pojo.blue">
		select * from blue where userId=#{userId}
	</select>

    <select id="getyuxi" parameterType="String" resultType="String">
		select yuxi from blue where userId=#{userId}
	</select>

    <select id="getblue" parameterType="java.lang.String" resultType="com.tdu.develop.resource.pojo.blue">
		select
		*
		from blue
		where userId = #{userId}
	</select>


    <insert id="tijiaocaozuo" parameterType="com.tdu.develop.resource.pojo.blue">
		replace into blue VALUES (#{userId},#{ti1},#{ti2},#{ti3},#{ti4},#{ti5}
		,#{ti6},#{ti7},#{ti8},#{ti9},#{ti10},#{ti11},#{yuxi},#{caozuo},#{baogao})
	</insert>

    <insert id="tijiaobaogao" parameterType="com.tdu.develop.resource.pojo.blue">
		replace into blue VALUES (#{userId},#{ti1},#{ti2},#{ti3},#{ti4},#{ti5}
		,#{ti6},#{ti7},#{ti8},#{ti9},#{ti10},#{ti11},#{yuxi},#{caozuo},#{baogao})
	</insert>
</mapper>