<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdu.develop.resource.mapper.KnowOnlineMapper">

	<select id="getKnoLineGroupUser" parameterType="String" resultType="com.tdu.develop.util.knowOnlineUtil">
		SELECT
	userid,
	COUNT( id ) as count,
	SUM( onlinetime ) as alltime,
	max( playtime ) as playtime
FROM
	knowonline
WHERE
	knowid = #{knowContId}
	GROUP BY userid
	</select>
	<select id="getKnoOnLine" parameterType="String" resultType="com.tdu.develop.util.knowOnlineUtil">
		SELECT
	COUNT( id ) as count,
	SUM( onlinetime ) as alltime,
	max( playtime ) as playtime
FROM
	knowonline
WHERE
	knowid = #{knowContId}
	</select>
	<select id="getKnoUserOnLine" parameterType="String" resultType="com.tdu.develop.util.knowOnlineUtil">
		SELECT
	COUNT( id ) as count,
	SUM( onlinetime ) as alltime,
	max( playtime ) as playtime
FROM
	knowonline
WHERE
	knowid = #{knowContId}
	AND userid = #{userId}
	</select>


	<insert id="insetKnowOnline"  parameterType="com.tdu.develop.resource.pojo.KnowOnline">
		insert into knowonline(`id`,`userid`,`playtime`,`onlinetime`,`outtime`,`knowid`) values(#{id},#{userId},#{playTime},#{onlineTime},#{outTime},#{knowId})
	</insert>

	<select id="getKnowOnlineTime" parameterType="String" resultType="java.util.Date">
		select playtime from knowonline where id=#{loginId}
	</select>

	<update id="setKnowOnlineTime" >
		update knowonline set onlinetime=#{onlineTime},outtime=#{outTime} where id=#{loginId}
	</update>

	<select id="getHalfYear" resultType="com.tdu.develop.util.MonthInYearUtil">
    SELECT
	v.MONTH as month,
	ifnull( b.count, 0 ) AS minute
FROM
	past_12_month_view v
	LEFT JOIN (
SELECT
	DATE_FORMAT( t.playtime, '%Y-%m' ) MONTH,
	sum( t.onlinetime) AS count
FROM
	knowonline t
WHERE
	DATE_FORMAT( t.playtime, '%Y-%m' ) > DATE_FORMAT( date_sub( curdate( ), INTERVAL 12 MONTH ), '%Y-%m' )
GROUP BY
MONTH
	) b ON v.MONTH = b.MONTH
GROUP BY
	v.MONTH
</select>
</mapper>